<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css" />
    <title>Header</title>
</head>

<body>

    <header>
        <div class="header">
            <div class="icon-container">
                <a class="img-link" href="../landing-page/land.html"><span>
                        <img class="icon" src="../jpeg/headicon.png" alt="" /></a>
                </span>
            </div>
            <div class="nav">
                <a href="../landing-page/land.html" class="home navs">Home</a>
                <a href="../index.html" class="document navs">Document</a>
            </div>
            <div class="socials">
                <span><a href="https://github.com/shivamsoni00"><img src='../jpeg/github.png'
                            class="social-icons" /></a></span>
                <span><a href="https://www.linkedin.com/in/shivam-s-b37b00157/"><img src='../jpeg/linkedin.png'
                            class="social-icons" /></a></span>
                <span><a href="https://twitter.com/ShivamSspirit"><img src='../jpeg/twitter.png'
                            class="social-icons" /></span>
            </div>
            <!-- <div class="hamburger">
                <div class="btn-toggle-nav"></div>
            </div> -->

            <!-- <aside class="asides">
                <ul class="show-this-hie">
                    <li>
                        <ul class="getting-started">
                            <li class="li-al"><a href="../iframe/iframe.html" target="iframe_a" class="li-a">-getting-Started</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                    <ul class="p0-screens">
                        <li class="li-al" ><a href="../avatars/avatar.html" target="iframe_a" class="li-a">-Avatar</a></li>
                        <li class="li-al"><a href="../alerts/alert.html" target="iframe_a" class="li-a">-Alert</a></li>
                        <li class="li-al"><a href="../badges/badges.html" target="iframe_a" class="li-a">-Badges</a></li>
                        <li class="li-al"><a href="../buttons/btn.html" target="iframe_a" class="li-a">-Buttons</a></li>
                        <li class="li-al"><a href="../clCards/card.html" target="iframe_a" class="li-a">-Cards</a></li>
                        <li class="li-al"><a href="../images/image.html" target="iframe_a" class="li-a">-images</a></li>
                        <li class="li-al"><a href="../inputs/input.html" target="iframe_a" class="li-a">-inputs and forms</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <ul class="p1-screens">
                        <li class="li-al"><a href="#texts" class="li-a">-Text utilities</a></li>
                        <li class="li-al"><a href="#Lists" class="li-a">-Lists</a></li>
                        <li class="li-al"><a href="#Navigation" class="li-a">-Navigation</a></li>
                        <li class="li-al"><a href="#modal" class="li-a">-modal</a></li>
                        <li class="li-al"><a href="#Ratings" class="li-a">-Ratings</a></li>
                        <li class="li-al"><a href="#toast" class="li-a">-Toast-notify-snackbar</a></li>
                        <li class="li-al"><a href="#grid" class="li-a">-simplified grid</a></li>
                    </ul>
                </li>
                </ul>
            </aside>  -->
        </div>
    </header>


</body>

</html>