<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css" />
    <script
        src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"
        defer=""></script>
    <title>Header</title>


</head>

<body>
    <div style="width: 97%;">
        <header>
            <div class="header">
                <div class="icon-container">
                    <a class="img-link" href="../../index.html"><span>
                            <img class="icon" src="../../images/jpeg/headicon.png" alt="" /></a>
                    </span>
                </div>
                <div class="nav">
                    <a href="../../index.html" class="home navs">Home</a>
                    <a href="../document-content/index.html" class="document navs">Document</a>
                </div>
                <div class="search-container">
                    <input class="search-input" type="text" />
                </div>
                <div class="socials">
                    <span class="social-icon">
                        <a href="https://github.com/shivamsoni00"><img src='../../images/jpeg/github.png'
                                class="social-icons" />
                        </a>
                    </span>
                    <span class="social-icon"><a href="https://www.linkedin.com/in/shivam-s-b37b00157/"><img
                                src='../../images/jpeg/linkedin.png' class="social-icons" /></a></span>
                    <span class="social-icon"><a href="https://twitter.com/ShivamSspirit"><img
                                src='../../images/jpeg/twitter.png' class="social-icons" />
                        </a>
                    </span>
                </div>

                <button type="button" class="hamburger btn-toggle-nav open-modal" data-open="modal3"> 
                        <img class="ham-icon" src="../../images/jpeg/menus.png" alt="" />          
                </button>
            </div>
        </header>

        <!-- <button type="button" class="open-modal" data-open="modal1">...</button> -->

        <!-- <div class="modal" id="modal1">
  <div class="modal-dialog">
    <header class="modal-header">
      ...
      <button class="close-modal" aria-label="close modal" data-close>✕</button>
    </header>
    <section class="modal-content">...</section>
    <footer class="modal-footer">...</footer>
  </div>
</div> -->

        <div class="modalss" id="modal3">
            <div class="side-bars">
                <button class="close-modal" aria-label="close slide1" data-close>✕</button>
                <div>Components</div>
                <ul>
                    <li class="li-al"><a href="../iframe/iframe.html" target="iframe_a" class="li-a">Getting-Started</a>
                    </li>
                    <li class="li-al"><a href="../avatars/avatar.html" target="iframe_a" class="li-a">Avatar</a></li>
                    <li class="li-al"><a href="../alerts/alert.html" target="iframe_a" class="li-a">Alert</a></li>
                    <li class="li-al"><a href="../badges/badges.html" target="iframe_a" class="li-a">Badges</a></li>
                    <li class="li-al"><a href="../buttons/btn.html" target="iframe_a" class="li-a">Buttons</a></li>
                    <li class="li-al"><a href="../clCards/card.html" target="iframe_a" class="li-a">Cards</a></li>
                    <li class="li-al"><a href="../images/image.html" target="iframe_a" class="li-a">Images</a></li>
                    <li class="li-al"><a href="../inputs/input.html" target="iframe_a" class="li-a">Inputs
                            and Forms</a>
                    </li>
                    <li class="li-al"><a href="../colors/colors.html" target="iframe_a" class="li-a">Colors</a>
                    </li>
                    <li class="li-al"><a href="../typography/typos.html" target="iframe_a" class="li-a">Typogarpgy</a>
                    </li>
                    <li class="li-al"><a href="../Header/header.html" class="li-a" target="iframe_a">Navigation</a></li>
                    <li class="li-al"><a href="#modal" class="li-a">Modal</a></li>
                    <li class="li-al"><a href="#Ratings" class="li-a">Ratings</a></li>
                    <li class="li-al"><a href="#toast" class="li-a">Toast-notify-snackbar</a></li>
                    <li class="li-al"><a href="#grid" class="li-a">Simplified grid</a></li>
                </ul>
            </div>
        </div>

    </div>


    <script type="text/javascript" src="../../headerScript.js"></script>

     <script type="text/javascript">
        
        var openslide = document.querySelectorAll("[data-open]");
        var isVisible = "is-visible";

        for (const el of openslide) {
            console.log('el',el)
            el.addEventListener("click", function () {
                const modalId = this.dataset.open;
                console.log('mod', modalId)
                document.getElementById(modalId).classList.add(isVisible);
            });
        }
        

    </script>

</body>

</html>