<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css"/>
    <title>Header</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="icon-container">
                <a class="img-link" href="../landing-page/land.html"><span>
                        <img class="icon" src="../jpeg/headicon.png" alt="" /></a>
                </span>
            </div>
            <div class="nav"> 
            <a href="../landing-page/land.html" class="home navs">Home</a>
            <a href="../index.html" class="document navs">Document</a>
            </div>
            
            <div class="socials">
                <span><a href="https://github.com/shivamsoni00"><img src='../jpeg/github.png'
                            class="social-icons" /></a></span>
                <span><a href="https://www.linkedin.com/in/shivam-s-b37b00157/"><img src='../jpeg/linkedin.png'
                            class="social-icons" /></a></span>
                <span><a href="https://twitter.com/ShivamSspirit">
                        <img src='../jpeg/twitter.png' class="social-icons" /></span>
                </a>
            </div>
        </div>
    </header> 
</body>
</html>