@import url(../../theme/theme.css);

body {
	box-sizing: content-box;
	margin: 0;
}

.header {
	display: flex;
	flex-direction: row;
	height: auto;
	color: var(--primary-color);
	padding: 1rem;
	gap: 1rem;
	font-family: var(--fonts);
	border-radius: 6px;
}

.icon-container {
	flex-basis: 14%;
	display: flex;
	padding-left: 2rem;
}

.icon {
	width: 3rem;
	height: 3rem;
	margin: 0 auto;
}

.nav {
	display: flex;
	flex-basis: 20%;
	top: .6rem;
	gap: 1rem;
}

.home {
	flex-basis: 5%;
	font-size: var(--header-text-size);
	font-weight: var(--header-text-weight);
}


.document {
	flex-basis: 5%;
	font-size: var(--header-text-size);
	font-weight: var(--header-text-weight);
}


.navs {
	text-decoration: none;
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-container {
	display: flex;
	height: 3rem;
	flex-basis: 30%;
}

.search-input {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	outline: none;

}

.search-icon {
	position: absolute;
	max-width: 29px;
	max-height: 29px;
	left: 53.5rem;
	top: 3.2rem;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 1rem;
	margin-left: 12rem;
	flex-basis: 15%;
}

.social-icons {
	max-width: 2rem;
	max-height: 2rem;
	display: flex;
	align-items: center;
	align-content: center;
}

.social-icon {
	display: flex;
	align-items: center;
	align-content: center;
}


.hamburger {
	background: antiquewhite;
	display: none;
}


.ham-icon {
	width: 3rem;
	height: 3rem;
	display: none;
	background: var(--default-color);
}

.modalss{ 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background:white;
	cursor: pointer;
	 visibility: hidden; 
	/* display: none; */
	opacity: 0;
	transition: all 0.35s ease-in;
  }


  .side-bars {
	position: relative;
	max-width: 800px;
	max-height: 80vh;
	border-radius: 5px;
	background: var(--white);
	overflow: auto;
	cursor: default;
  }


  .modalss.is-visible {
 visibility: visible;
	opacity: 1;
  }
/* .asidehide{
	display: none;
	background: aquamarine;
	width: 100%;
	height: auto;
}

.asideshow{
	display: block;
} */



@media only screen and (max-width: 860px) {
	.search-container {
		display: none;
	}

	.hamburger {
		background: antiquewhite;
		display: flex;
	}

	.ham-icon {
		display: block;
		background: var(--default-color);

	}
}


@media only screen and (max-width: 505px) {
	.home {
		display: none;
	}

	.document {
		display: none;
	}

	.hamburger {
		display: block;
	}

	.socials {
		display: none;
	}

	.ham-icon {
		display: block;
	}

	.social-icons {
		display: none;
	}

	.search-icon {
		position: absolute;
		max-width: 29px;
		max-height: 29px;
		left: 14rem;
		top: 3.2rem;
	}

	.search-container {
		display: none;
	}

	.hamburger {
		display: flex;
		margin-left: 11rem;
		flex-basis: 11%;
	}

	.ham-icon {
		display: block;
		background: var(--default-color);
	}
}