@import url(../../theme/theme.css);

* {
    margin: 0;
    box-sizing: border-box;
}

.typos-container {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding: 1rem;
    font-family: var(--fonts);
}

.t-head-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sections-container {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

/* #sec-txt-size{
/* display: flex;
flex-direction: column;
gap: .4rem; */


.txt-demos {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.h1 {
    font-size: 4.3rem;
}

.h2 {
    font-size: 3.3rem;
}

.h3 {
    font-size: 2.7rem;
}

.h4 {
    font-size: 2.4rem;
}

.h5 {
    font-size: 2rem;
}

.h6 {
    font-size: 1.3rem;
}


#sec-txt-weight {}

.light {
    font-weight: 333;
}

.lighter {
    font-weight: 484;
}

.meduim {
    font-weight: 555;
}

.regular {
    font-weight: 600;
}

.bold {
    font-weight: 690;
}

.extrabold {
    font-weight: 733;
}

.txt-primary {
    color: rgb(71, 116, 175);
}


.txt-secondary {
    color: rgb(11, 7, 3);
}


.txt-default {
    color: rgb(167, 122, 66);
}


.txt-grey {
    color: grey;
}

.txt-purple {
    color: purple;
}