<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"
defer=""></script>
<link rel="stylesheet" href="./badges.css" />
<title>Badges</title>
</head>
<body>
<div class="badges">



<div class="avatar-badges">
<div class="av-badges">
<h2 class="title-badge">
Default avatar badges
 </h2>
 <p class="paragraph-badge">
 An avatar can be used for graphical representation of a person. In most
  of the applicantions it is used to show display pictures
   or profile pictures of an individual.
 </p>
</div>

<div class="pop-av">
<div class="badge-container">
<img class="avatar-lg" src="../../images/svgs/men-3.svg" alt="" />
<span class="status-online"></span>
</div>

<div class="badge-container">
<img class="avatar-md" src="../../images/svgs/men-3.svg" alt="" />
<span class="status-offline"></span>
</div>

<div class="badge-container">
<img class="avatar-sm" src="../../images/svgs/men-3.svg" alt="" />
<span class="status-idle"></span>
</div>

</div>

<div class="av-code">
<pre class="prettyprint lang-html" id='badge-0'>
<code>
<div class="av-badges">
<h2 class="title-badge">
Default avatar badges
 </h2>
 <p class="paragraph-badge">
 An avatar can be used for graphical representation of a
  person. In most of the applicantions it is used to show
   display pictures or profile pictures of an individual.
 </p>
</div>

<div class="pop-av">
<div class="badge-container">
<img class="avatar-lg" src="../../images/svgs/men-3.svg" alt="" />
<span class="status-online"></span>
</div>

<div class="badge-container">
<img class="avatar-md" src="../../images/svgs/men-3.svg" alt="" />
<span class="status-offline"></span>
</div>

<div class="badge-container">
<img class="avatar-sm" src="../../images/svgs/men-3.svg" alt="" />
<span class="status-idle"></span>
</div>

</div>
</code>
</pre>

</div>

</div>


<div class="icon-badges">
<div class="av-icon-badges">
<h2 class="title-badge">
Default icon badges
 </h2>
 <p class="paragraph-badge">
 An avatar can be used for graphical
  representation of a person. In most of the
   applicantions it is used to show display
    pictures or profile pictures of an individual.
 </p>
</div>

<div class="pop-icon">
<div class="icon-badge-container">
<img class="icon-lg" src="../../images/svgs/email.svg" alt="" />
<span onclick="count()" class="status-number-email">0</span>
</div>

<div class="icon-badge-container">
<img class="icon-md" src="../../images/svgs/cart-2.svg" alt="" />
<span class="status-number-cart" onclick="count0()">0</span>
</div>

<div class="icon-badge-container">
<img class="icon-sm" src="../../images/svgs/hamburgur.svg" alt="" />
<span class="status-number-menu" onclick="count1()">0</span>
</div>
</div>

<div class="icon-code">
<pre class="prettyprint lang-html" id='badge-1'>
<code>
<div class="av-icon-badges">
<h2 class="title-badge">
Default icon badges
 </h2>
 <p class="paragraph-badge">
 An avatar can be used for graphical representation of 
 a person. In most of the applicantions it is used to show
  display pictures or profile pictures of an individual.
 </p>
</div>

<div class="pop-icon">
<div class="icon-badge-container">
<img class="icon-lg" src="../../images/svgs/email.svg" alt="" />
<span onclick="count()" class="status-number-email">0</span>
</div>

<div class="icon-badge-container">
<img class="icon-md" src="../../images/svgs/cart-2.svg" alt="" />
<span class="status-number-cart" onclick="count0()">0</span>
</div>

<div class="icon-badge-container">
<img class="icon-sm" src="../../images/svgs/hamburgur.svg" alt="" />
<span class="status-number-menu" onclick="count1()">0</span>
</div>
</div>
</code>
</pre>

</div>

</div>

<div class="txt-badges">
<div class="av-txt-badges">
<h2 class="title-badge">
Default text badges
 </h2>
 <p class="paragraph-badge">
 An avatar can be used for graphical representation of
  a person. In most of the applicantions 
  it is used to show
  display pictures or profile pictures of an individual.
 </p>
</div>

<div class="pop-txt">
<div class="txt-badge-container">
<h3 class="txt">This is first heading badges</h3>
<span class="status-txt-head">head</span>
</div>

<div class="txt-badge-container">
<p class="txt"></p>
<p>This is first paragraph badges</p>
<span class="status-txt-p0">para0</span>
</div>

<div class="txt-badge-container">
<p class="txt">This is second paragraph badges</p>
<span class="status-txt-p1 bad">para1</span>
</div>
</div>

<div class="txt-code">
<pre class="prettyprint lang-html" id='badge-2'>
<code>
<div class="av-txt-badges">
<h2 class="title-badge">
Default text badges
 </h2>
 <p class="paragraph-badge">
An avatar can be used for graphical
representation of a person. In most of the
applicantions it is used to show display 
pictures or profile pictures of an individual.
 </p>
</div>

<div class="pop-txt">
<div class="txt-badge-container">
<h3 class="txt">This is first heading badges</h3>
<span class="status-txt-head">head</span>
</div>

<div class="txt-badge-container">
<p class="txt"></p>
<p>This is first paragraph badges</p>
<span class="status-txt-p0">para0</span>
</div>

<div class="txt-badge-container">
<p class="txt">This is second paragraph badges</p>
<span class="status-txt-p1 bad">para1</span>
</div>
</div>
</code>
</pre>
</div>
</div>


</div>



<script type="text/javascript">
let emailBadge = document.querySelector(".status-number-email");
let cartBadge = document.querySelector(".status-number-cart");
let menuBadge = document.querySelector(".status-number-menu");

function count() {
let val = Number(emailBadge.innerText);
val = val + 1;
emailBadge.innerText = String(val);
}

function count0() {
let val = Number(cartBadge.innerText);
val = val + 2;
cartBadge.innerText = String(val);
}

function count1() {
let val = Number(menuBadge.innerText);
if (val > 1) {
val = val ** val;
}
val = val + 1;
menuBadge.innerText = String(val);
}

cartBadge.addEventListener("click", count0());
menuBadge.addEventListener("click", count1());
emailBadge.addEventListener("click", count());

document
.querySelector(".status-txt-p1.bad")
.addEventListener("click", function () {
if (this.classList.contains("bad")) {
this.classList.remove("status-txt-p1", "bad");
this.classList.add("status-txt-p1", "good");
} else {
console.log("thanks");
}
});
</script>


<!-- script for code  badges-->

<script type="text/javascript">
//<![CDATA[
(function () {
function htmlEscape(s) {
return s
.replace(/&/g, "&amp;")
.replace(/</g, "&lt;")
.replace(/>/g, "&gt;");
}
console.log(
"sdhasjdjas",
document.documentElement.lastChild.childNodes[2]
);
// this page's own source code
var badgeHtml = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('badge-0').innerHTML + "\n<\/html>\n");
var badgeHtmlOne = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('badge-1').innerHTML + "\n<\/html>\n");
var badgeHtmlTwo = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('badge-2').innerHTML + "\n<\/html>\n");
// Highlight the operative parts:
badgeHtml = badgeHtml.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("badge-0").innerHTML = badgeHtml;

badgeHtmlOne = badgeHtmlOne.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("badge-1").innerHTML = badgeHtmlOne;

badgeHtmlTwo = badgeHtmlTwo.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("badge-2").innerHTML = badgeHtmlTwo;
})();
//]]>
</script>


<!-- end -->
</body>
</html>
