<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./card.css" />
	<script
		src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"
		defer=""></script>
	<title>cards</title>
</head>

<body>
	<div class="v-card">
		<div class="default-card">
			<h2 class="title-card">
				Default Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>
		<div class="card-container">
			<div class="img-container">
				<img class="img" alt="" src="../../images/jpeg/wolf.jpg" />
			</div>
			<div class="card-content">
				<div class="content">
					<h3 class="title">Noise Wolf</h3>
					<p class="info">
						this is web3 inspiration to start implementing web2
						things and build on top of frontend tools and
						anything related to web
					</p>
				</div>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-0'>
<code>
<div class="card-container">
<div class="img-container">
<img class="img" alt="" src="../../images/jpeg/wolf.jpg" />
</div>
<div class="card-content">
<div class="content">
<h3 class="title">Noise Wolf</h3>
<p class="info">
this is web3 inspiration to start implementing web2
things and build on top of frontend tools and
anything related to web
</p>
</div>
</div>
</div>
</code>
</pre>
		</div>
	</div>
	<div class="h-card">
		<div class="horizontal-card">
			<h2 class="title-card">
				Horizontal Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>
		<div class="card-container-horizontal">
			<div class="img-container-h">
				<img class="img-h" alt="" src="../../images/jpeg/user.jpg" />
			</div>
			<div class="card-content">
				<div class="content-h">
					<h3 class="title">Noise User</h3>
					<p class="info">
						this is web3 inspiration to start implementing web2
						things and build on top of frontend tools and
						anything related to web
					</p>
				</div>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-1'>
<code>
<div class="card-container-horizontal">
<div class="img-container-h">
<img class="img-h" alt="" src="../../images/jpeg/user.jpg" />
</div>
<div class="card-content">
<div class="content-h">
<h3 class="title">Noise User</h3>
<p class="info">
this is web3 inspiration to start implementing web2
things and build on top of frontend tools and
anything related to web
</p>
</div>
</div>
</div>
</code>
</pre>
		</div>
	</div>
	<div class="over-card">
		<div class="ovr-card">
			<h2 class="title-card">
				OverLay Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>
		<div class="card-overlay-container">
			<div class="container">
				<h3 class="title">Text fadeIn bottom</h3>
				<div class="content">
					<a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
						<div class="content-overlay"></div>
						<img class="content-image"
							src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">This is the shivam soni</h3>
							<p class="content-text">This is a short description about it</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-2'>
<code>
<div class="card-overlay-container">
<div class="container">
<h3 class="title">Text fadeIn bottom</h3>
<div class="content">
<a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
<div class="content-overlay"></div>
<img class="content-image"
src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
<div class="content-details fadeIn-bottom">
<h3 class="content-title">This is the shivam soni</h3>
<p class="content-text">This is a short description about it</p>
</div>
</a>
</div>
</div>
</div>
</code>
</pre>
		</div>
	</div>
	<div class="pro-one-card">
		<div class="proOne-card">
			<h2 class="title-card">
				Product Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>
		<div class="product-card-container">
			<div class="img-container-p">
				<img class="img-p" alt="" src="../../images/jpeg/apple-iphone-13.jpg" />
			</div>
			<div class="card-content">
				<div class="colors">
					<div class="color"></div>
					<div class="color"></div>
					<div class="color"></div>
					<div class="color"></div>
				</div>
				<div class="content">
					<p class="status">New</p>
					<h2 class="name">iPhone 13 Pro</h3>
						<p class="info">
							The ultimate iPhone
						</p>
						<p class="price">From 1lack</p>
						<button class="btn">Buy</button>
						<a class="info-link" href="#learn">Learn more ></a>
				</div>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-3'>
<code>
<div class="product-card-container">
<div class="img-container-p">
<img class="img-p" alt="" src="../../images/jpeg/apple-iphone-13.jpg" />
</div>
<div class="card-content">
<div class="colors">
<div class="color"></div>
<div class="color"></div>
<div class="color"></div>
<div class="color"></div>
</div>
<div class="content">
<p class="status">New</p>
<h2 class="name">iPhone 13 Pro</h3>
<p class="info">
The ultimate iPhone
</p>
<p class="price">From 1lack</p>
<button class="btn">Buy</button>
<a class="info-link" href="#learn">Learn more ></a>
</div>
</div>
</div>
</code>
</pre>
		</div>
	</div>
	<div class="pro-two-card">
		<div class="proTwo-card">
			<h2 class="title-card">
				Product Icon Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>
		<div class="product-card">
			<div class="img-container-product">
				<img class="p-img" alt="" src="../../images/jpeg/leather.jpg" />
				<div class="badge">
					<input class="heart" type="checkbox" />
					<label for="heart">❤</label>
				</div>
			</div>
			<div class="card-content-product">
				<h3 class="title">Blazer</h3>
				<p class="price-p">€ 2000</p>
				<button class="btn-product">Add To Cart</button>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-4'>
<code>
<div class="product-card">
<div class="img-container-product">
<img class="p-img" alt="" src="../../images/jpeg/leather.jpg" />
<div class="badge">
<input id="heart" type="checkbox" />
<label for="heart">❤</label>
</div>
</div>
<div class="card-content-product">
<h3 class="title">Blazer</h3>
<p class="price-p">€ 2000</p>
<button class="btn-product">Add To Cart</button>
</div>
</div>
</code></pre>
		</div>
	</div>
	<div class="pro-card-three">
		<div class="proThree-card">
			<h2 class="title-card">
				Product Icon Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>
		<div class="product-card0">
			<div class="img-container-product0">
				<img class="p-img0" alt="" src="../../images/jpeg/leather.jpg" />
				<div class="badge0">
					<p class="sale">Sale</p>
				</div>
			</div>
			<div class="card-content-product0">
				<h3 class="title0">Blazer</h3>
				<p class="price-p0">€ 2000</p>
				<button class="btn-product0">Add To Cart</button>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-5'>
<code>
<div class="product-card0">
<div class="img-container-product0">
<img class="p-img0" alt="" src="../../images/jpeg/leather.jpg" />
<div class="badge0">
<p class="sale">Sale</p>
</div>
</div>
<div class="card-content-product0">
<h3 class="title0">Blazer</h3>
<p class="price-p0">€ 2000</p>
<button class="btn-product0">Add To Cart</button>
</div>
</div> 
</code></pre>
		</div>
	</div>
	<div class="actionable-card">

		<div>
			<h2 class="title-card">
				Actionable Card
			</h2>
			<p class="paragraph-card">
				An avatar can be used for graphical representation of a person.
			</p>
		</div>

		<div class="action-card">
			<div class="img-container-product0">
				<img class="p-img0" alt="" src="../../images/jpeg/leather.jpg" />
				<div class="badge1">
					<span class="action" onClick="close()"><img src="../../images/svgs/close.svg" class="img-action"
							alt="" /></span>
				</div>
			</div>
			<div class="card-content-product0">
				<h3 class="title0">Blazer</h3>
				<p class="price-p0">€ 2000</p>
				<button class="btn-product0">Add To Cart</button>
			</div>
		</div>
		<div class="card-code">
			<pre class="prettyprint lang-html" id='card-6'>
<code>
<div class="action-card">
<div class="img-container-product0">
<img class="p-img0" alt="" src="../../images/jpeg/leather.jpg" />
<div class="badge1">
<span class="action" onClick="close()"><img src="../../images/svgs/close.svg" class="img-action"
alt="" /></span>
</div>
</div>
<div class="card-content-product0">
<h3 class="title0">Blazer</h3>
<p class="price-p0">€ 2000</p>
<button class="btn-product0">Add To Cart</button>
</div>
</div> 
</code></pre>
		</div>
	</div>

	</div>

	<!-- <script type="text/javascript">
		function removeFadeOut(el, speed) {
			var second = speed / 1000 + "s";
			el.addEventListener("click", function () {
				el.parentElement.parentElement.parentElement.style.transition = `all ${second} ease-in`;
				el.style.opacity = 0.5;
				el.parentElement.parentElement.parentElement.style.transform = "translateX(200px)";
				setTimeout(() => {
					const alertContainer = el.parentElement.parentElement.parentElement;
					alertContainer.remove();
				}, speed);
			});
		}

		removeFadeOut(document.querySelector(".action"), 2000);
	</script> -->


	<!-- script for codes for cards -->
	<script type="text/javascript">
		//<![CDATA[
		(function () {
			function htmlEscape(s) {
				return s
					.replace(/&/g, "&amp;")
					.replace(/</g, "&lt;")
					.replace(/>/g, "&gt;");
			}
			// this page's own source code
			var cardHtml = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-0').innerHTML + "\n<\/html>\n");
			var cardHtmlOne = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-1').innerHTML + "\n<\/html>\n");
			var cardHtmlTwo = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-2').innerHTML + "\n<\/html>\n");

			var cardHtmlThree = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-3').innerHTML + "\n<\/html>\n");
			var cardHtmlFour = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-4').innerHTML + "\n<\/html>\n");
			var cardHtmlFive = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-5').innerHTML + "\n<\/html>\n");

			var cardHtmlSix = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('card-6').innerHTML + "\n<\/html>\n");
			// Highlight the operative parts:
			cardHtml = cardHtml.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-0").innerHTML = cardHtml;

			cardHtmlOne = cardHtmlOne.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-1").innerHTML = cardHtmlOne;

			cardHtmlTwo = cardHtmlTwo.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-2").innerHTML = cardHtmlTwo;


			cardHtmlThree = cardHtmlThree.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-3").innerHTML = cardHtmlThree;

			cardHtmlFour = cardHtmlFour.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-4").innerHTML = cardHtmlFour;

			cardHtmlFive = cardHtmlFive.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-5").innerHTML = cardHtmlFive;

			cardHtmlSix = cardHtmlSix.replace(
				/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
				'<span class="operative">$&<\/span>'
			);
			// insert into PRE
			document.getElementById("card-6").innerHTML = cardHtmlSix;
		})();
			//]]>
	</script>

	<!-- end -->
</body>

</html>