<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./btn.css" />
    <script
        src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"
        defer=""></script>
    <title>Buttons</title>
</head>

<body>
    <div class="buttons">
        <div class="primary-buttons">
            <div class="pri-buttons">
                <h2 class="title-btn">
                    Primary Buttons
                </h2>
                <p class="paragraph-btn">
                    An avatar can be used for graphical representation of a person. In most
                    of the applicantions it is used to show display pictures
                    or profile pictures of an individual.
                </p>
            </div>
            <div class="lol-pri">
                <button class="btn">Default</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
                <button class="btn btn-error">Error</button>
                <button class="btn btn-success">Success</button>
            </div>
            <div class="pri-code">
                <pre class="prettyprint lang-html" id='btn-0'>
<code>
<div>
<h2 class="title-btn">
Primary Buttons
 </h2>
 <p class="paragraph-btn">
An avatar can be used for graphical representation of a person. In most
of the applicantions it is used to show display pictures
or profile pictures of an individual.
 </p>
</div>
<div class="lol-pri">
<button class="btn">Default</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-error">Error</button>
<button class="btn btn-success">Success</button>
</div>
</code>
</pre>
            </div>
            <!-- </div> -->
            <div class="outline-buttons">
                <div class="out-buttons">
                    <h2 class="title-btn">
                        Outline Buttons
                    </h2>
                    <p class="paragraph-btn">
                        An avatar can be used for graphical representation of a person. In most
                        of the applicantions it is used to show display pictures
                        or profile pictures of an individual.
                    </p>
                </div>
                <div class="lol-out">
                    <button class="btn btn-outline">Default</button>
                    <button class="btn outline-primary">Primary</button>
                    <button class="btn outline-secondary">Secondary</button>
                    <button class="btn outline-error">Error</button>
                    <button class="btn outline-success">Success</button>
                </div>
                <div class="out-code">
                    <pre class="prettyprint lang-html" id='btn-1'>
<code>
<div class="out-buttons">
<h2 class="title-btn">
Outline Buttons
 </h2>
 <p class="paragraph-btn">
An avatar can be used for graphical representation of a person. In most
of the applicantions it is used to show display pictures
or profile pictures of an individual.
 </p>
</div>
<div class="lol-out">
<button class="btn btn-outline">Default</button>
<button class="btn outline-primary">Primary</button>
<button class="btn outline-secondary">Secondary</button>
<button class="btn outline-error">Error</button>
<button class="btn outline-success">Success</button>
</div>
</code>
</pre>
                </div>
            </div>
            <div class="link-buttons">
                <div class="link-btn">
                    <h2 class="title-btn">
                        Link Buttons
                    </h2>
                    <p class="paragraph-btn">
                        An avatar can be used for graphical representation of a person. In most
                        of the applicantions it is used to show display pictures
                        or profile pictures of an individual.
                    </p>
                </div>
                <div class="lol-link">
                    <a href="#default" class="btn link-default">
                        <span>Default</span>
                    </a>
                    <a href="#primary" class="btn link-primary">
                        <span>Primary</span></a>
                    <a href="#secondary" class="btn link-secondary"><span>
                            Secondary
                        </span></a>
                </div>
                <div class="link-code">
                    <pre class="prettyprint lang-html" id='btn-2'>
<code>
<div class="link-btn">
<h2 class="title-btn">
Link Buttons
 </h2>
 <p class="paragraph-btn">
An avatar can be used for graphical representation of a person. In most
of the applicantions it is used to show display pictures
or profile pictures of an individual.
 </p>
</div>
<div class="lol-link">
<a href="#default" class="btn link-default">
<span>Default</span>
</a>
<a href="#primary" class="btn link-primary">
<span>Primary</span></a>
<a href="#secondary" class="btn link-secondary"><span>
Secondary
</span></a>
</div>
</code>
</pre>
                </div>
            </div>
            <div class="icon-buttons">
                <div class="icon-btn">
                    <h2 class="title-btn">
                        Icon and Floated Buttons
                    </h2>
                    <p class="paragraph-btn">
                        An avatar can be used for graphical representation of a person. In most
                        of the applicantions it is used to show display pictures
                        or profile pictures of an individual.
                    </p>
                </div>
                <div class="lol-icon">
                    <div class="floted"><input class="btn-icon-floated" type="image"
                            src="../../images/svgs/cart-2.svg" /></div>
                    <input class="btn-icon" type="image" src="../../images/svgs/close.svg" />
                    <input class="btn-icon" type="image" src="../../images/svgs/heart.svg" />
                    <input class="btn-icon" type="image" src="../../images/svgs/player.svg" />
                    <input class="btn-icon" type="image" src="../../images/svgs/hamburgur.svg" />
                </div>
                <div class="icon-code">
                    <pre class="prettyprint lang-html" id='btn-3'>
<code>
<div class="icon-btn">
<h2 class="title-btn">
Icon and Floated Buttons
 </h2>
 <p class="paragraph-btn">
An avatar can be used for graphical representation of a person. In most
of the applicantions it is used to show display pictures
or profile pictures of an individual.
 </p>
</div>
<div class="lol-icon">
<div class="floted"><input class="btn-icon-floated" type="image" src="../../images/svgs/cart-2.svg" /></div>
<input class="btn-icon" type="image" src="../../images/svgs/close.svg" />
<input class="btn-icon" type="image" src="../../images/svgs/heart.svg" />
<input class="btn-icon" type="image" src="../../images/svgs/player.svg" />
<input
class="btn-icon"
type="image"
src="../../images/svgs/hamburgur.svg"
/>
</div>
</code>
</pre>
                </div>
            </div>
        </div>
        <!-- script for code  btns-->
        <script type="text/javascript">
            //<![CDATA[
            (function () {
                function htmlEscape(s) {
                    return s
                        .replace(/&/g, "&amp;")
                        .replace(/</g, "&lt;")
                        .replace(/>/g, "&gt;");
                }
                // this page's own source code
                var btnHtml = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('btn-0').innerHTML + "\n<\/html>\n");
                var btnHtmlOne = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('btn-1').innerHTML + "\n<\/html>\n");
                var btnHtmlTwo = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('btn-2').innerHTML + "\n<\/html>\n");
                var btnHtmlThree = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('btn-3').innerHTML + "\n<\/html>\n");
                // Highlight the operative parts:
                btnHtml = btnHtml.replace(
                    /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
                    '<span class="operative">$&<\/span>'
                );
                // insert into PRE
                document.getElementById("btn-0").innerHTML = btnHtml;

                btnHtmlOne = btnHtmlOne.replace(
                    /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
                    '<span class="operative">$&<\/span>'
                );
                // insert into PRE
                document.getElementById("btn-1").innerHTML = btnHtmlOne;

                btnHtmlTwo = btnHtmlTwo.replace(
                    /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
                    '<span class="operative">$&<\/span>'
                );
                // insert into PRE
                document.getElementById("btn-2").innerHTML = btnHtmlTwo;


                btnHtmlThree = btnHtmlThree.replace(
                    /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
                    '<span class="operative">$&<\/span>'
                );
                // insert into PRE
                document.getElementById("btn-3").innerHTML = btnHtmlThree;


            })();
//]]>
        </script>


        <!-- end -->
</body>

</html>