@import url(../../theme/theme.css);
@import url(../Header/header.css);
@import url(../../theme/heading.css);

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

#container {
	display: grid;
	max-height: 100vh;
	grid-gap: 5px;
	font-family: var(--fonts);

	grid-template-areas:
		"header header header header header"
		"aside  main   main   main   main"
		"aside  main   main   main   main"
		"aside  main   main   main   main"
		"aside  main   main   main   main"
		"aside  main   main   main   main"
		"aside  main   main   main   main";
}


.header {
	grid-area: header;
	background: var(--land-bg-color); 
}

.img-container {
	width: 80%;
	margin: 0 auto;
}

.img {
	width: 100%;
	height: 10rem;
}

.aside {
	background: var(--land-bg-color); 
	grid-area: aside;
	color: black;
	padding: 1rem;
	overflow: scroll;
}

.sidebar {
	width: 75%;
	margin: 0 auto;
	height: 80vh; 
	border-radius: 6px;
}


.cl-screens {
	list-style: none;
	 /* background: black;  */
	 height: 100%;
}

.link {
	text-decoration: none;
	cursor: pointer;
	padding: 0.3rem;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: var(--main-head-size);
	font-weight: var(--main-head-weight);
	color: white;
}



.content-collapse {
	padding: 0 20px;
	display: block;
	overflow: hidden;
	color: var(--default-color);
	margin-bottom: 0.5rem;
}

.getting-started {
	list-style: none;
}

.p0-screens {
	list-style: none;
}

.p0-screens li{
	padding-top: .8rem;
}

.p1-screens {
	list-style: none;
}



.li-a {
	text-decoration: none;
	color: var(--primary-color);
	font-size: var(--side-txt-size);
	font-weight: var(--side-text-weight);
}

li {
	color: var(--default-color);
}


.li-a:hover{
	color: rgb(122, 137, 115);
	border: solid 1.3px var(--default-color);
	padding: .6rem;
	border-radius: 6px;
}  




.main {
	background: var(--land-bg-color);
	grid-area: main;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: var(--fonts);
}

.content {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.heading {
	font-size: var(--main-text-size);
	font-weight: var(--main-text-weight);
	text-align: left;
	padding-top: 1rem;
	color: rgb(3, 2, 2);
}

@media only screen and (max-width: 500px) {
	.aside {
		grid-area: '';
		color: black;
		overflow-y: hidden;
		display: none;
	}

	.header {
		grid-area: header;
	}

	.main {
		grid-area: main;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
		height: 85vh;
	}

	#container {
		height: 100vh;
		grid-gap: 5px;
		grid-template-columns: 1fr;
		overflow: scroll;
		grid-template-areas:
			"header"
			"main"
			"main"
			"main"
			"main"
			"main"
			"main";
	}
}