<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./alert.css" />
<script
src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css"
defer=""></script>
<title>Alerts</title>
</head>
<body>
<div class="alerts">
<!-- basic alerts -->
<div class="basic-alerts">
<div class="basic-alt-info">
<h2 class="Basic-Alt">
Basic Alerts
</h2>
<p class="description">
The alert offers three severity levels that set a distinctive icon and color.
</p>
</div>
<div class="alert-error-container">
<img class="icon-error" src="../../images/svgs/error.svg" alt="" />
<p class="p-error">
This is an error alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-warning-container">
<img class="icon-warning" src="../../images/svgs/warning.svg" alt="" />
<p class="p-warning">
This is a warning alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-info-container">
<img class="icon-info" src="../../images/svgs/info.svg" alt="" />
<p class="p-info">
This is an info alert — <strong>check it out!</strong>
</p>
</div>
<div class="basic-alt-code">
<pre class="prettyprint lang-html" id='alert-0'>
<code>
<div class="basic-alt-info">
<h2 class="Basic-Alt">
Basic Alerts
</h2>
<p class="description">
The alert offers three severity levels that set a distinctive icon and color.
</p>
</div>
<div class="alert-error-container">
<img class="icon-error" src="../../images/svgs/error.svg" alt="" />
<p class="p-error">
This is an error alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-warning-container">
<img
class="icon-warning"
src="../../images/svgs/warning.svg"
alt=""
/>
<p class="p-warning">
This is a warning alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-info-container">
<img class="icon-info" src="../../images/svgs/info.svg" alt="" />
<p class="p-info">
This is an info alert — <strong>check it out!</strong>
</p>
</div>
</code>
</pre>
</div>
</div>
<!-- alert with description -->
<div class="alert-description">
<div class="des-alt-info">
<h2 class="Basic-Alt">
Alert with description
</h2>
<p class="description">
The alert offers three severity levels that give you description alerts.
</p>
</div>
<div class="alert-error-title">
<img class="icon-error-title" src="../../images/svgs/error.svg" alt="" />
<div class="text-title">
<div class="title">Error</div>
<p class="p-error-title">
This is an error alert —
<strong>check it out!</strong>
</p>
</div>
</div>
<div class="alert-warning-title">
<img class="icon-warning-title" src="../../images/svgs/warning.svg" alt="" />
<div class="text-title">
<div class="title">warning</div>
<p class="p-warning-title">
This is an warning alert —
<strong>check it out!</strong>
</p>
</div>
</div>
<div class="alert-info-title">
<img class="icon-info-title" src="../../images/svgs/info.svg" alt="" />
<div class="text-title">
<div class="title">info</div>
<p class="p-info-title">
This is an info alert —
<strong>check it out!</strong>
</p>
</div>
</div>
<div class="des-alt-code">
<pre class="prettyprint lang-html" id='alert-1'>
<code>
<div class="des-alt-info">
<h2 class="Basic-Alt">
 Alert with description
</h2>
<p class="description">
The alert offers three severity levels that give you description alerts.
</p>
</div>
<div class="alert-error-title">
<img
class="icon-error-title"
src="../../images/svgs/error.svg"
alt=""
/>
<div class="text-title">
<div class="title">Error</div>
<p class="p-error-title">
This is an error alert —
<strong>check it out!</strong>
</p>
</div>
</div>
<div class="alert-warning-title">
<img
class="icon-warning-title"
src="../../images/svgs/warning.svg"
alt=""
/>
<div class="text-title">
<div class="title">warning</div>
<p class="p-warning-title">
This is an warning alert —
<strong>check it out!</strong>
</p>
</div>
</div>
<div class="alert-info-title">
<img
class="icon-info-title"
src="../../images/svgs/info.svg"
alt=""
/>
<div class="text-title">
<div class="title">info</div>
<p class="p-info-title">
This is an info alert —
<strong>check it out!</strong>
</p>
</div>
</div>
</code>
</pre>
</div>
</div>
<!-- outline alerts -->
<div class="outline-alerts">
<div class="out-alt-info">
<h2 class="Basic-Alt">
Outline Alerts
</h2>
<p class="description">
The alert offers three severity levels that give you outline alerts.
</p>
</div>
<div class="alert-error-outline">
<img class="icon-error-outline" src="../../images/svgs/error.svg" alt="" />
<p class="p-error-outline">
This is an error alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-warning-outline">
<img class="icon-warning-outline" src="../../images/svgs/warning.svg" alt="" />
<p class="p-warning-outline">
This is a warning alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-info-outline">
<img class="icon-info-outline" src="../../images/svgs/info.svg" alt="" />
<p class="p-info-outline">
This is an info alert — <strong>check it out!</strong>
</p>
</div>
<div class="out-alt-code">
<pre class="prettyprint lang-html" id='alert-2'>
<code>
<div class="out-alt-info">
<h2 class="Basic-Alt">
 Outline Alerts
</h2>
<p class="description">
The alert offers three severity levels that give you outline alerts.
</p>
</div>
<div class="alert-error-outline">
<img
class="icon-error-outline"
src="../../images/svgs/error.svg"
alt=""
/>
<p class="p-error-outline">
This is an error alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-warning-outline">
<img
class="icon-warning-outline"
src="../../images/svgs/warning.svg"
alt=""
/>
<p class="p-warning-outline">
This is a warning alert — <strong>check it out!</strong>
</p>
</div>
<div class="alert-info-outline">
<img
class="icon-info-outline"
src="../../images/svgs/info.svg"
alt=""
/>
<p class="p-info-outline">
This is an info alert — <strong>check it out!</strong>
</p>
</div>
</code>
</pre>
</div>
</div>
<!-- actionable alerts  -->
<div class="actionable-alerts">
<div class="action-info">
<h2 class="Basic-Alt">
Actionable Alerts
</h2>
<p class="description">
The alert offers three severity levels that give you Actionable alerts.
</p>
</div>
<div class="alert-warning-action">
<img class="icon-warning-action" src="../../images/svgs/warning.svg" alt="" />
<p class="p-warning-action">
This is a warn alert — <strong>check it out!</strong>
</p>
<input title="close" class="close" type="image" src="../../images/svgs/close.svg" onclick="" />
</div>
<div class="alert-error-action">
<img class="icon-error-action" src="../../images/svgs/error.svg" alt="" />
<p class="p-error-action">
This is a error alert — <strong>check it out!</strong>
</p>
<input class="delete" type="image" src="../../images/svgs/delete.svg" onclick="" />
</div>
<div class="action-code">
<pre class="prettyprint lang-html" id='alert-3'>
<code>
<div class="action-info">
<h2 class="Basic-Alt">
 Actionable Alerts
</h2>
<p class="description">
The alert offers three severity levels that give you Actionable alerts.
</p>
</div>
<div class="alert-warning-action">
<img
class="icon-warning-action"
src="../../images/svgs/warning.svg"
alt=""
/>
<p class="p-warning-action">
This is a warn alert — <strong>check it out!</strong>
</p>
<input
title="close"
class="close"
type="image"
src="../../images/svgs/close.svg"
onclick=""
/>
</div>
<div class="alert-error-action">
<img
class="icon-error-action"
src="../../images/svgs/error.svg"
alt=""
/>
<p class="p-error-action">
This is a error alert — <strong>check it out!</strong>
</p>
<input
class="delete"
type="image"
src="../../images/svgs/delete.svg"
onclick=""
/>
</div>
</code>
</pre>
</div>
</div>
</div>
<!-- script for remove alert -->
<script type="text/javascript">
function removeFadeOut(el, speed) {
var second = speed / 1000 + "s";
el.addEventListener("click", function () {
el.parentElement.style.transition = `all ${second} ease-in`;
el.style.opacity = 0.5;
el.parentElement.style.transform = "translateX(200px)";
setTimeout(() => {
const alertContainer = el.parentElement;
alertContainer.remove();
}, speed);
});
}
removeFadeOut(document.querySelector(".close"), 2000);
</script>


<!-- script for codeblock -->
<script type="text/javascript">
(function () {
function htmlEscape(s) {
return s
.replace(/&/g, "&amp;")
.replace(/</g, "&lt;")
.replace(/>/g, "&gt;");
}

// this page's own source code
var alertHtml = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('alert-0').innerHTML + "\n<\/html>\n");
var alertHtmlOne = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('alert-1').innerHTML + "\n<\/html>\n");
var alertHtmlTwo = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('alert-2').innerHTML + "\n<\/html>\n");
var alertHtmlThree = htmlEscape("<!DOCTYPE html>\n<html>\n" + document.getElementById('alert-3').innerHTML + "\n<\/html>\n");

// Highlight the operative parts:

alertHtml = alertHtml.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("alert-0").innerHTML = alertHtml;


alertHtmlOne = alertHtmlOne.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("alert-1").innerHTML = alertHtmlOne;

alertHtmlTwo = alertHtmlTwo.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("alert-2").innerHTML = alertHtmlTwo;

alertHtmlThree = alertHtmlThree.replace(
/&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
'<span class="operative">$&<\/span>'
);
// insert into PRE
document.getElementById("alert-3").innerHTML = alertHtmlThree;
})();
</script>
</body>

</html>